

.containter{width: 1200px; margin:0px auto;}

.header{ background: url("../images/banner_bg.jpg") no-repeat center top;
    background-size: cover; height: 618px; width: 100%;}
.menu{padding-top: 28px; height: 52px;}
.logo{ float: left; width: 170px;}
.menu-block{ float: right; font-size: 20px;}
.menu-block > li{ float: left; padding:0px 36px; height: 52px;
    line-height: 52px; position: relative }
.menu-block > li  a{ display: block; color: #696969;}
.menu-block > li:hover{  background: url("../images/munu_hover_bg.png") repeat-x center top;}
.menu-block > li:hover > a{color:#90ff00;}
.menu-block .menu-nav{ position: absolute; top:52px; left: 0px;
    width: 133px; padding: 0px 10px;
    background: url("../images/menu_bg.png") no-repeat center bottom; display: none}
.menu-block .menu-nav li{ text-align: center;
    font-size: 16px;}
.menu-block .menu-nav li a{ display: block; border-bottom:#696969 solid 1px; height: 50px;}
.menu-block .menu-nav li a:hover{color:#90ff00;}

.banner .banner-block{ margin:80px 0 0 150px;}
.banner h1{ font-size: 48px; color: #fff;  margin-bottom: 40px;}
.banner p{ color:#f5f5f5;  margin-bottom: 25px; font-size: 20px;}
.banner a{ color: #74bd00; text-decoration: underline; margin-right:50px;}

.main-block{ padding:90px 0px 0px 0px;}
.main-block h2{ font-size:48px; text-align: center;
    background: url("../images/title_bg.png") no-repeat center bottom; }
.main-block .s-title{ color: #cbcbcb; text-align: center; font-size: 18px;
    margin-bottom: 45px;}
.main-block .content{text-indent:2em; font-size:20px; padding:0px 110px;}
.main-block .map{ text-align: center; padding-top:50px;}
.main-block .map img{ border:0;}

.main-block .business-content{font-size:20px; padding:0px 110px;}
.business-content h3{ font-size: 32px;margin:25px 0px;font-weight:normal}
.business-content p{ margin-bottom: 15px; font-size: 16px;}
.business-content a{ color:#01ad05; font-size:15px;}
.business-img-01{float:left;}
.business-info-01{float: right;width:500px;}
.business-img-02{float:right;}
.business-info-02{float: left;width:500px;text-align: right;}

.partner{background-color:#f5f5f5;margin-top:80px;}
.parent-block{ text-align: center; padding:45px 0px;}
.parent-block img{ margin:0px 10px;  }

.footer{ text-align: center; background: #000; border-top:#6eb706 solid 9px; padding:30px 0px;}
.footer a,.footer p{color: #727171;}
.footer p.links{ font-size: 20px; }
.footer p.links a{margin:0px 40px;}
.footer .title{ font-size: 20px;color: #727171;padding-bottom:15px;}
.footer ul{ width: 150px; margin:20px 10px 50px 10px; float: left;text-align: center;}
.footer .contact01{margin-left:5px;}
.footer .contact02{margin-left:5px;}